@import 'vars.less';

.controls {
  display: inline-block;
  width: 100%;
  margin-bottom: @margin;

  & .md-button {
    position: relative;
    float: left;
    margin: 0 @margin 0 0;
  }
}

@media screen and (max-width: 599px) {
  .controls {
    & .md-button {
      width: 100%;
      margin: 0 0 @margin 0;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
