@import 'vars.less';

html, body {
  overflow: hidden;
  height: 100%;
}

.main {
  position: relative;
  height: 100%;

  &-auth {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &-container {
      margin: auto;
      overflow: hidden;
      min-width: 320px;

      & md-input-container:last-child {
        margin-bottom: 0 !important;
      }

      & md-card-content{
        padding-bottom: 0 !important;
      }
    }
  }

  &-toolbar {
    z-index: 2;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,.2),
    0 2px 2px 0 rgba(0,0,0,.14),
    0 3px 1px -2px rgba(0,0,0,.12);
    height: 64px !important;

    & .md-toolbar-tools {
      height: 64px !important;
      max-height: 64px !important;
    }

    &-btn {
      margin-right: 24px !important;
      display: none;
    }
  }

  &-nav {
    z-index: 1;
    position: absolute;
    width: 240px;
    top: 64px;
    left: 0;
    bottom: 0;
    background-color: #E8EAF6;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,.2),
                0 2px 2px 0 rgba(0,0,0,.14),
                0 3px 1px -2px rgba(0,0,0,.12);
    overflow-x: hidden;
    overflow-y: visible;
    transition-property: left, width;
    transition-duration: @transitionDuration, @transitionDuration;

    &-layout {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: fade(#333, 48%);
      visibility: hidden;
      opacity: 0;
      transition: opacity @transitionDuration*2, visibility 0s @transitionDuration*2;
    }

    & md-list {
      width: 240px;
    }

    & md-list-item.current {
      background-color: rgb(250,250,250);

      &:after {
        content: '';
        position: absolute;
        width: 5px;
        height: 100%;
        right: -5px;
        background-color: rgb(250,250,250);
      }
    }

    & .md-ic {
      margin-top: 14px !important;
      margin-bottom: 14px !important;
    }

    & md-list-item.md-2-line,
    & md-list-item.md-2-line:before,
    & .md-no-style,
    & .md-no-style:before{
      min-height: 48px !important;
    }
  }

  &-body {
    z-index: 0;
    position: absolute;
    top: 64px;
    left: 240px;
    right: 0;
    bottom: 0;
    padding: 15px;
    transition-property: left;
    transition-duration: @transitionDuration;
    overflow-y: scroll;
  }
}









@media screen and (max-width: 599px) {

}

@media screen and (max-width: 959px) {
  .main {
    &-toolbar {
      &-btn {
        display: inline-block;
      }
    }

    &-nav {
      width: 240px !important;
      left: -240px;

      &.opened {
        width: 240px;
        left: 0;
      }

      &-layout.opened {
        visibility: visible;
        opacity: 1;
        transition: opacity @transitionDuration*2, visibility 0s;
      }

      & md-list-item.current {
        &:after {
          width: 0;
        }
      }
    }

    &-body {
      left: 0 !important;
    }
  }
}

@media screen and (max-width: 1279px) {
  .main {
    &-nav {
      width: 56px;
    }

    &-body {
      left: 56px;
    }
  }
}
