.md-table {
  position: relative;
  width: 100%;
  margin: 0;
}
.md-table-loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 999;
  display: flex;
}
.md-table-loader md-progress-circular {
  margin: auto;
}
.md-table md-card-content {
  padding: 0;
}
.md-table:not(:last-child) {
  margin-right: 15px;
}
.md-table-header {
  position: relative;
  width: 100%;
  min-height: 64px;
}
.md-table-header-title {
  position: absolute;
  top: 0;
  left: 0;
  right: 64px;
  height: 24px;
  padding: 20px 0 20px 24px;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.86);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.md-table-header-filter {
  position: absolute;
  top: 0;
  right: 0;
  width: 150px;
  height: 100%;
  min-height: 64px;
}
.md-table-header-filter-btn {
  margin: 12px !important;
}
.md-table-body {
  position: relative;
  width: 100%;
  overflow-y: hidden;
  overflow-x: visible;
  -webkit-overflow-scrolling: touch;
}
.md-table-body table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}
.md-table-body table thead tr {
  background: none !important;
}
.md-table-body table thead td {
  height: 56px;
  max-height: 56px;
  font-size: 12px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.54);
  padding: 0 0 0 20px;
}
.md-table-body table tbody td {
  height: 48px;
  max-height: 48px;
  font-size: 13px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.86);
  padding: 0 0 0 20px;
  word-break: normal;
}
.md-table-body table tbody td .md-button {
  margin: 0 !important;
  right: -8px;
}
.md-table-body table thead tr:nth-child(2n),
.md-table-body table tbody tr:nth-child(2n) {
  background-color: rgba(0, 0, 0, 0.03);
}
.md-table-body table thead tr td,
.md-table-body table tbody tr td {
  border-bottom: 1px rgba(0, 0, 0, 0.12) solid;
  text-align: right;
}
.md-table-body table thead tr td:focus,
.md-table-body table tbody tr td:focus {
  outline: none;
}
.md-table-body table thead tr td:first-child,
.md-table-body table tbody tr td:first-child {
  text-align: left;
  padding: 0 0 0 24px;
}
.md-table-body table thead tr td:last-child,
.md-table-body table tbody tr td:last-child {
  padding: 0 24px 0 20px;
}
.md-table-body table thead tr:last-child td,
.md-table-body table tbody tr:last-child td {
  border-bottom: none;
}
.md-table-footer {
  position: relative;
  width: 100%;
  height: 60px;
}
.md-table-footer-mode {
  position: absolute;
  top: 0;
  left: 0;
  right: 242px;
  height: 60px;
}
.md-table-footer-mode-title {
  position: absolute;
  top: 0;
  left: 0;
  right: 64px;
  height: 60px;
  padding-left: 24px;
  overflow: hidden;
  direction: rtl;
}
.md-table-footer-mode-title span {
  direction: ltr;
  display: table-cell;
  vertical-align: middle;
  text-align: right;
  height: 60px;
  width: 100%;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.54);
  font-weight: 600;
}
.md-table-footer-mode-select {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 60px;
}
.md-table-footer-mode-select md-select {
  margin: 12px 0 18px;
  padding: 2px 0 1px 0;
}
.md-table-footer-mode-select md-select .md-select-value {
  padding: 2px 0 1px 0;
  min-width: 45px;
}
.md-table-footer-mode-select md-select .md-select-value span.md-select-icon {
  margin: 0;
}
.md-table-footer-mode-select md-select .md-select-value span.md-select-icon::after {
  text-align: center;
}
.md-table-footer-mode-select md-select .md-select-value span:first-child {
  text-align: right;
}
.md-table-footer-mode-select md-select .md-select-value span div.md-text {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.54);
}
.md-table-footer-counter {
  position: absolute;
  top: 0;
  right: 128px;
  width: 90px;
  height: 60px;
  text-align: center;
}
.md-table-footer-counter span {
  line-height: 60px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.54);
  font-weight: 600;
}
.md-table-footer-navigation {
  position: absolute;
  top: 0;
  right: 0;
  width: 104px;
  height: 60px;
}
.md-table-footer-navigation-btn {
  margin: 10px 6px !important;
  padding: 0 !important;
  position: relative;
  float: left;
}
@media screen and (max-width: 599px) {
  .md-table-footer-mode {
    display: none;
  }
}
