@import 'vars.less';

.md-table {
  position: relative;
  width: 100%;
  margin: 0;

  &-loader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 999;
    display: flex;

    & md-progress-circular {
      margin: auto;
    }
  }

  & md-card-content {
    padding: 0;
  }

  &:not(:last-child) {
    margin-right: 15px;
  }

  &-header {
    position: relative;
    width: 100%;
    min-height: 64px;

    &-title {
      position: absolute;
      top: 0;
      left: 0;
      right: 64px;
      height: 24px;
      padding: 20px 0 20px 24px;
      font-size: 20px;
      color: fade(#000, 86%);
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    &-filter {
      position: absolute;
      top: 0;
      right: 0;
      width: 64px;
      height: 100%;
      min-height: 64px;

      &-btn {
        margin: 12px !important;
      }
    }
  }


  &-body {
    position: relative;
    width: 100%;
    overflow-y: hidden;
    overflow-x: visible;
    -webkit-overflow-scrolling: touch;

    & table {
      width: 100%;
      border-spacing: 0;
      border-collapse: collapse;

      & thead {
        & tr {
          background: none !important;
        }

        & td {
          height: 56px;
          max-height: 56px;
          font-size: 12px;
          font-weight: 600;
          color: fade(#000, 54%);
          padding: 0 0 0 20px;
        }
      }

      & tbody td {
        height: 48px;
        max-height: 48px;
        font-size: 13px;
        font-weight: 500;
        color: fade(#000, 86%);
        padding: 0 0 0 20px;
        word-break: normal;

        & .md-button {
          margin: 0 !important;
          right: -8px;
        }
      }

      & thead, & tbody {
        & tr {
          &:nth-child(2n) {
            background-color: fade(#000, 3%);
          }

          & td {
            border-bottom: 1px fade(#000, 12%) solid;
            text-align: right;

            &:focus {
              outline: none;
            }

            &:first-child {
              text-align: left;
              padding: 0 0 0 24px;
            }

            &:last-child {
              padding: 0 24px 0 20px;
            }
          }

          &:last-child {
            & td {
              border-bottom: none;
            }
          }
        }
      }
    }
  }

  &-footer {
    position: relative;
    width: 100%;
    height: 60px;

    &-mode {
      position: absolute;
      top: 0;
      left: 0;
      right: 242px;
      height: 60px;

      &-title {
        position: absolute;
        top: 0;
        left: 0;
        right: 64px;
        height: 60px;
        padding-left: 24px;
        overflow: hidden;
        direction: rtl;

        & span {
          direction: ltr;
          display: table-cell;
          vertical-align: middle;
          text-align: right;
          height: 60px;
          width: 100%;
          font-size: 12px;
          color: fade(#000, 54%);
          font-weight: 600;
        }
      }

      &-select {
        position: absolute;
        top: 0;
        right: 0;
        width: 40px;
        height: 60px;

        & md-select {
          margin: 12px 0 18px;
          padding: 2px 0 1px 0;

          & .md-select-value {
            padding: 2px 0 1px 0;
            min-width: 45px;

            & span.md-select-icon {
              margin: 0;

              &::after {
                text-align: center;
              }
            }

            & span:first-child {
              text-align: right;
            }

            & span div.md-text {
              font-size: 12px;
              color: fade(#000, 54%);
            }
          }
        }
      }
    }

    &-counter {
      position: absolute;
      top: 0;
      right: 128px;
      width: 90px;
      height: 60px;
      text-align: center;

      & span {
        line-height: 60px;
        font-size: 12px;
        color: fade(#000, 54%);
        font-weight: 600;
      }
    }

    &-navigation {
      position: absolute;
      top: 0;
      right: 0;
      width: 104px;
      height: 60px;

      &-btn {
        margin: 10px 6px !important;
        padding: 0 !important;
        position: relative;
        float: left;
      }
    }
  }
}

@media screen and (max-width: 599px) {
  .md-table {
    &-footer {
      &-mode {
        display: none;
      }
    }
  }
}

